@CHARSET "UTF-8";

.red { color:#F00; }

body {
    /*
    background: #000000 url('../img/bg-concrete.jpg') no-repeat bottom left;
    background-size: cover;
    background-position:center top;
    */
}

.masthead-brand img { }
.nav a {
	color:#000;
}