@CHARSET "UTF-8";

.red { color:#F00; }

body.splash {
    /*
    background: #000000 url('../img/bg-concrete.jpg') no-repeat bottom left;
    */
    background-size: cover;
    background-position:center top;
}

.masthead-brand img { }
.nav a {
	color:#000;
}

.navbar-brand img {
	height:20px;
}

#login_modal .modal-dialog { max-width:400px; }
#login_form .modal-body { padding-bottom:5px; }
#login_form .modal-footer { margin-top:5px; }