#success_alert { display:none; }
#saved_routes_lists { display:none; }
#saved_route_list_link { cursor:pointer; }
#saved_route_list_link:hover { text-decoration:none; }
#map-canvas { height: 400px; margin:1em 0; }
#saved_routes_lists.row { word-wrap: break-word; }
#directionsPanel { margin-top:2em; }